*{
    font-size: 15px;
    font-family: 'K2D-ExtraBold';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:white;
}

@font-face{
    font-family: 'K2D-ExtraBold';
    src: url('Police/K2D/K2D-ExtraBold.ttf');
}

@font-face {
    font-family: 'K2D-Bold';
    src: url('Police/K2D/K2D-Bold.ttf');
}

@font-face{
    font-family: 'K2D-SemiBold';
    src: url('Police/K2D/K2D-SemiBold.ttf');
}

h1{
    font-size: 3.5em;
    color: #008C8C;
    margin: 40px 0 5% 0;
}

section h1{
    margin-left: 25%;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    margin-top: 7%;
}

h2{
    font-family: 'K2D-Bold';
    font-size: 1.5rem;
}

p{
    font-family: 'K2D-SemiBold';
    font-size: 1.5rem;
}

a{
    text-decoration: none;
    color: white;
    font-family: 'K2D-SemiBold';
    font-size: 1.2em;
}

.fond-ecran__header{
    background-image: url("Images/BG 01.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 18% 10% 18%;
}

.header__nom-nav__flex{
    display: flex;
    justify-content: space-between;
}

.header__nom{
    margin-top: 0;
}

.header-lien{
    display: flex;
    font-size: 1.2rem;
}

.header-lien a{
    margin-right: 1em;
    margin-top: 3.5%;
}

.header__description{
    width: 600px;
    color: white;
    margin: 10% 0 10% 0;
}
    
.fond-ecran__agence-service{
    background-image: url("Images/BG 02@3x.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 18% 10% 18%;
}

.agence__div , .temoignage__bloc{
    border: 4px solid #008C8C ;
    border-radius: 20px;
    background-color: rgb(255, 255, 255,0.1);
    padding: 30px;
}

.service__border-flex{
    display: flex;
    border: 4px solid #008C8C ;
    background-color: rgb(255, 255, 255,0.1);
    border-radius: 20px;
    padding: 30px;
    margin-top: 30px;
}

.service__border-flex div{
    margin-left: 5%;
}

.service__border-flex img{
    border: 4px solid white;
    border-radius: 15px;
    padding: 1.5%;
   margin-top: 20px;
    width: 13%;
    height: 5%;
}

.fond-ecran__realisation{
    background-image: url("Images/BG 01.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 20% 10% 20%;
}

.realisations__img__flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.realisations__img__border{
    border: 4px solid #008C8C ;
    width: 350px;
    height: 200px;
    margin: 20px 0 10px 0;
}

.input__realisation, .input__temoignage,
 #contacter__form__submit,.contacter__form__width{
    border-radius: 10px;
    color: #008C8C;
    background-color: transparent;
    border: 4px solid #008C8C ;
    padding: 10px;
    margin-top: 1.5em;
    margin-left: 37%;
    font-size: 1.5rem;
    cursor: pointer;
}

.input__realisation:hover, 
.input__temoignage:hover,  #contacter__form__submit:hover{
    color: white;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    background-color: #008C8C;
    border: 4px solid rgb(255, 253, 253, 0.8) ;
}

#partenaire{
    margin: 0 20% 5% 20%;
}

.partenaire__flex, .temoignage__bloc__flex{
    display: flex;
    justify-content: space-between;
}

.partenaire__flex img{
    width: 210px;
    height: 90px;
}

.fond-ecran__temoignage-contacter{
    background-image: url("Images/BG 02@3x.png");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3% 18% 10% 18%;
}

.temoignage__bloc{
    width: 40%;
    padding: 20px;
    margin-right: 20px;
    background-color: white;
 }
 
 .temoignage__bloc p{
     color: black;
 }
 
 .input__temoignage, #contacter__form__submit, .contacter__form__width{
     color: black;
     background-color: white;
 }
 
 .contacter__flex{
     display: flex;
     justify-content: space-between;
 }
 
 form{
     display: flex;
     flex-direction: column;
     width: 50%;
 }
 
 .contacter__form__width{
     margin-left: 0;
     cursor: text;
 }
 
 #contacter__form__submit{
     margin-left: 0;
     width: 50%;
 }
 
 .maps{
     margin-left: 10%;
     width: 45%;
 }
 iframe{
    margin-top: 5%;
    border-radius: 10px;
    width: 100%;
    height: 700px;;
 }
 
 .footer__BG-color{
     margin: 10% 0 10% 0;
     background-color: #008C8C;
     padding: 2% 18% 5% 18%;
     margin: 0;
 }
 .footer__flex{
     display: flex;
     justify-content: space-between;
 }
.footer__div__description{
    width: 45%;
}
 
 .footer__contact__flex{
     display: flex;
 }

 .footer__contact{
     width: 40%;
 }
 
 .footer__contact__flex img{
    margin-right: 30px;
    width: 7%;
    height: 2em;
}
 
 .footer__contact__img{
     margin-right: 50px;
     width: 3.5%;
     height: 2em;
 }
 .footer__copyright-barre{
     display: flex;
     justify-content: space-between;
     background-color: black;
     padding: 0.5% 18% 0.5% 18%;
 }

 .footer__copyright-barre a{
     margin-left: 3%;
 }
 
 .footer__copyright-barre a, .footer__copyright-barre p{
     font-size: 1em;
 }
 
 .footer__lien{
     width: 50%;
 }

 @media all and (max-width: 1200px) and (min-width: 1020px)
 {
     *{
         font-size: 13px;
     }

     .header__description{
        width: 500px;
    }

    .realisations__img__border{
        width: 250px;
        height: 150px;
    }

    .fond-ecran__header, .fond-ecran__agence-service,
    .fond-ecran__realisation, .fond-ecran__temoignage-contacter
    {
        padding: 3% 10% 10% 10%;
    }

    #partenaire{
        margin: 0 10% 5% 10%;
    }

    iframe{
        height:50vmax;
     }

    .footer__BG-color{
        padding: 2% 10% 5% 10%;
    }
    
    .footer__copyright-barre{
        padding: 0.5% 10% 0.5% 10%;
    }

 }

 @media all and (max-width: 1019px) and (min-width:700px)
 {
     *{
         font-size: 8px;
     }

     .header__description{
        width: 300px;
    }

    .realisations__img__border{
        width: 200px;
        height: 100px;
    }

    .fond-ecran__header, .fond-ecran__agence-service,
    .fond-ecran__realisation, .fond-ecran__temoignage-contacter
    {
        padding: 3% 10% 10% 10%;
    }

    #partenaire{
        margin: 0 10% 5% 10%;
    }

    iframe{
        height:30vmax;
     }

    .footer__contact__flex img{
        margin-right: 30px;
    }

    .footer__BG-color{
        padding: 2% 10% 5% 10%;
    }
    
    .footer__copyright-barre{
        padding: 0.5% 10% 0.5% 10%;
    }
 }


 @media all and (max-width: 699px)
 {
     *{
         font-size: 5px;
     }

     .header__description{
        width: 200px;
    }

    .agence__div , .temoignage__bloc,     
    .service__border-flex, .input__realisation, .input__temoignage,
    #contacter__form__submit,.contacter__form__width{
        border: 2px solid #008C8C ;
        border-radius: 4px;
        padding: 5px;
    }

    .service__border-flex img{
        border: 2px solid white;
        border-radius: 5px;
        padding: 1.5%;
       margin-top: 5px;
        width: 13%;
        height: 5%;
    }

    .realisations__img__border{
        width: 140px;
        height: 70px;
    }

    .fond-ecran__header, .fond-ecran__agence-service,
    .fond-ecran__realisation, .fond-ecran__temoignage-contacter
    {
        padding: 3% 10% 10% 10%;
    }

    #partenaire{
        margin: 0 10% 5% 10%;
    }


.partenaire__flex img{
    width: 90px;
    height: 30px;
}

iframe{
    height:25vmax;
 }

 .footer__contact__flex img{
    margin-right: 10px;
}

 .footer__contact__img{
    margin-right: 20px;
    width: 4%;
    height: 2em;
}

    .footer__BG-color{
        padding: 2% 10% 5% 10%;
    }
    
    .footer__copyright-barre{
        padding: 0.5% 10% 0.5% 10%;
    }
 }
