*{
  font-size: x-large;
}

body{
    margin: 5% 16% 0 16%;
    background-color: black;
    color:white;
}

h1{
    font-size: 50px;
    color: rgb(16, 78, 73);
    margin: 100px 0 100px 0;
}

.header__nom-nav__flex{
    display: flex;
    justify-content: space-between;
}

.header__nom{
   margin-top: 0;
}

.header-ul{
    display: flex;
    list-style-type: none;
   
}

.header-ul li{
   margin-right: 20px;
}
a{
    text-decoration: none;
    color: white;
}

.header__description{
    width: 500px;
    color: white;
    margin: 150px 0 200px 0;
}

section h1{
    margin-left: 250px;
}

.agence__div , .temoignage__bloc{
    border: 4px solid rgb(16, 78, 73) ;
    border-radius: 30px;
    padding: 30px;
}

.service__border-flex{
    display: flex;
    border: 4px solid rgb(16, 78, 73) ;
    border-radius: 30px;
    padding: 30px;
    margin-top: 30px;
}

.realisations__img__flex{
    display: flex;
}

.realisations__img__border{
    border: 4px solid rgb(16, 78, 73) ;
}

.input__realisation, .input__temoignage,
 #contacter__form__submit,.contacter__form__width{
    border-radius: 0.7em;
    color: rgb(16, 78, 73);
    background-color: transparent;
    border: 4px solid rgb(16, 78, 73) ;
    padding: 0.5em;
    margin-top: 1em;
    margin-left: 300px;
}

.partenaire__flex, .temoignage__bloc__flex{
    display: flex;
}

.temoignage__bloc{
   width: 400px;
   height: 380px;
   padding: 0 5px 0 10px;
   margin-right: 20px;
    color: black;
    background-color: white;
}
.input__temoignage, #contacter__form__submit, .contacter__form__width{
    color: black;
    background-color: white;
}

.contacter__flex{
    display: flex;
}

form{
    display: flex;
    flex-direction: column;
}

.contacter__form__width{
    margin-left: 0;
    margin-bottom: 1em;
}

#contacter__form__submit{
    margin-left: 0;
    width: 50%;
}

.maps{
    border-radius: 0.7em;
margin-left: 20px;
}

.footer__01{
    margin: 100px 0 100px 0;
}
.footer__flex{
    display: flex;
}
.footer__copyright-barre{
    display: flex;
    justify-content: space-between;
}

.footer__copyright-barre a{
    margin-top: 10px;
}