*{
    font-size: 1.02em;
    font-family: 'K2D-ExtraBold';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color:white;
}

@font-face{
    font-family: 'K2D-ExtraBold';
    src: url('Police/K2D/K2D-ExtraBold.ttf');
}

@font-face {
    font-family: 'K2D-Bold';
    src: url('Police/K2D/K2D-Bold.ttf');
}

@font-face{
    font-family: 'K2D-SemiBold';
    src: url('Police/K2D/K2D-SemiBold.ttf');
}

h1{
    font-size: 2.7em;
    color: #008C8C;
    margin: 40px 0 5% 0;
}

section h1{
    margin-left: 25%;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    margin-top: 7%;
}

h2{
    font-family: 'K2D-Bold';
}

section h2{
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
}

p{
    font-family: 'K2D-SemiBold';
    font-size: 1.2em;
}

a{
    text-decoration: none;
    color: white;
    font-family: 'K2D-SemiBold';
    font-size: 1.2em;
}

.fond-ecran__header{
    background-image: url("Images/BG 01.png");
    background-repeat: no-repeat;
    background-size: 108em;
    padding: 3% 10% 10% 10%;
}

.header__nom-nav__flex{
    display: flex;
    justify-content: space-between;
}

.header__nom{
    margin-top: 0;
}

.header-lien{
    display: flex;
}

.header-lien a{
    margin-right: 0.7em;
    margin-top: 3.5%;
}

.header__description{
    width: 80%;
    color: white;
    margin: 15% 0 0 0;
    padding-bottom: 20%;
}

.fond-ecran__agence-service{
    background-image: url("Images/BG 02@3x.png");
    background-repeat: no-repeat;
    background-size: 100em;
    padding: 3% 10% 10% 10%;
}

.agence__div , .temoignage__bloc{
    border: 4px solid #008C8C ;
    border-radius: 30px;
    padding: 30px;
}

.service__border-flex{
    display: flex;
    border: 4px solid #008C8C ;
    border-radius: 30px;
    padding: 30px;
    margin-top: 30px;
}

.service__border-flex div{
    margin-left: 5%;
}

.service__border-flex img{
    border: 4px solid white;
    border-radius: 15px;
    padding: 1.5%;
   margin-top: 20px;
    width: 13%;
    height: 5%;
}

.fond-ecran__realisation{
    background-image: url("Images/BG 01.png");
    background-repeat: no-repeat;
    background-size: 125em;
    padding: 3% 10% 10% 10%;
}

.realisations__img__flex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.realisations__img__border{
    border: 4px solid #008C8C ;
    width: 350px;
    height: 200px;
    margin: 20px 0 10px 0;
}

.input__realisation, .input__temoignage,
 #contacter__form__submit,.contacter__form__width{
    border-radius: 0.7em;
    color: #008C8C;
    background-color: transparent;
    border: 4px solid #008C8C ;
    padding: 0.5em;
    margin-top: 1.5em;
    margin-left: 35%;
    cursor: pointer;
}

#partenaire{
    margin: 0 20% 5% 20%;
}

.partenaire__flex, .temoignage__bloc__flex{
    display: flex;
    justify-content: space-between;
}

.partenaire__flex img{
    width: 210px;
    height: 90px;
}

#vector01, #vector02{
    width: 30px;
    height: 50px;
}

.fond-ecran__temoignage-contacter{
    background-image: url("Images/BG 02@3x.png");
    background-repeat: no-repeat;
    background-size: 100em;
    padding: 3% 10% 10% 10%;
}

.temoignage__bloc{
    width: 40%;
    padding: 20px;
    margin-right: 20px;
    background-color: white;
 }
 
 .temoignage__bloc p{
     color: black;
 }
 
 .input__temoignage, #contacter__form__submit, .contacter__form__width{
     color: black;
     background-color: white;
 }
 
 .contacter__flex{
     display: flex;
     justify-content: space-between;
 }
 
 form{
     display: flex;
     flex-direction: column;
     width: 40%;
 }
 
 .contacter__form__width{
     margin-left: 0;
     margin-bottom: 1em;
     cursor: text;
 }
 
 #contacter__form__submit{
     margin-left: 0;
     width: 50%;
 }
 
 .maps{
     width: 40%;
 }
 iframe{
    margin-top: 8%;
    border-radius: 10px;
    width: 100%;
    height:35em;
 }
 
 .footer__01{
     margin: 10% 0 10% 0;
     background-color: #008C8C;
     padding: 2% 10% 5% 10%;
     margin: 0;
 }
 .footer__flex{
     display: flex;
     justify-content: space-between;
 }
.footer__div__description{
    width: 50%;
}
 
 .footer__contact__flex{
     display: flex;
 }
 
 .footer__contact__flex img{
     margin-right: 20px;
 }
 
 .footer__contact__img{
     margin-right: 50px;
     width: 5%;
     height: 2em;
 }
 .footer__copyright-barre{
     display: flex;
     justify-content: space-between;
     background-color: black;
     padding: 0.5% 10% 0.5% 10%;
 }

 .footer__copyright-barre a{
     margin-left: 30px;
 }
 
 .footer__copyright-barre a, .footer__copyright-barre p{
     font-size: medium;
 }

